body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
   
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

button {
    color: white;
    font-size: 1.2rem;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    background-color:#FF9933;
}
header {
    background-color: rgb(70, 64, 64);
    text-align: center;
    padding: 20px;
}

header a {
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 30px;
}

.middle-man {
    margin: 4%;
}

.middle-man img {

    margin-left: 6%;
    border: rgb(70, 64, 64) solid 0.05mm;
    border-radius: 5px;
    float: left;
    
}
 
.middle-man p {
    width: 70%;
    position: relative;
    left: 25%;
   padding: 20px;
   line-height: 3;
}

.middle-man button {
    position: relative;
    left: 30%;
   
}

.middle-man button:hover {
    background-color: tomato;
}

footer {
    margin-top: 110px;
    background-color: rgb(11, 19, 41);
    text-align: center;
    padding: 20px;
}

footer p {
    color: white;
    line-height: 2;
}

footer button {
    text-align: center;
}

footer button:hover {
    background-color: tomato;
}

